/* Add screen styles below */
p {
    font-size: 18px;
}

h2 {
    margin-top: 5px;
}

main{
    margin:0 auto;
    width: 800px;
}

img {
    height: 300px;
    width: 525px
}

div {
    flex-grow: 1;
    flex-basis: 0;
    background: #d6d6d6;
    border-radius: 20px;
    margin-top: 25px;
    padding: 25px;
    margin-right: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label,
textarea {
font-size: 0.8rem;
letter-spacing: 1px;
  }
  
textarea {
padding: 10px;
max-width: 100%;
line-height: 1.5;
border-radius: 5px;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px #999;
  }
  
label {
display: block;
margin-bottom: 10px;
}

table,
td {
  border: 1px solid #333;
}
  