/* Add screen styles below */
p {
    font-size: 18px;
    text-indent: 30px;
}

.intro {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 30%;
  text-indent: 30px;
}

nav {
  font-size: 1.5rem;
  padding-top: 0px;
  margin: 0 auto;
  margin-inline: #ababab;
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  font-size: 22px;
  width: 80px;
}

h1 {
  margin-bottom: 0%;
}

h2 {
    margin-top: 10px;
}

img {
    width: 75%;
    height: auto;

}

.blog-post {
    background: #d6d6d6;
    background-size: 120%;
    border-radius: 20px;
    margin-top: 25px;
    padding: 25px;
    margin-right: 5%;
    
}

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}


label,
textarea {
font-size: 18px;
letter-spacing: 1px;
}
  
textarea {
padding: 10px;
max-width: 100%;
line-height: 1.5;
border-radius: 5px;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px #999;
  }
  
label {
display: block;
margin-bottom: 10px;
}

table,
td {
  border: 1px solid #333;
}
  